{% extends 'base.html' %}
{% load static %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}

	<h2>Event list</h2>

	<hr>
		{% if event.privat_event == True %}
			<h4 style="color: orange;">Private</h4>
		{% else %}
			<h4 style="color: green;">Open</h4>
		{% endif %}
		<small>{{ event.timestamp }}</small>
		<h3>{{ event.title }}</h3><span>From: {{ event.start }} To: {{ event.finish }}</span>
		<p>Date: {{ event.event_date }}</p>
		<h4>Creator: {{ event.creator }}</h4>
		{% if event.description %}
			<h5>{{ event.description }}</h5>
		{% else %}
			<h5>No decription</h5>
		{% endif %}
		{% if event.participators.count == 0 %}
			<p>No participators</p>
		{% else %}
			<h4>Participators: {{ event.participators.count }}</h4>
			{% for participator in event.participators.all %}
				<p>{{ participator }}</p>
			{% endfor %}
		{% endif %}
		<br>
		<br>
		<div class="event-buttons">
			{% if request.user.profile == event.creator %}
				<a href="{% url 'events:delete_event' event.id %}">Delete</a>
				<a href="{% url 'events:edit_event' event.id %}">Edit</a>
				<a href="{% url 'events:invite_friends' event.id %}">Invite friends</a>
				<a href="{% url 'events:invite_people' event.id %}">Invite from all users</a>
			{% else %}
			{% endif %}
			{% if request.user.profile in event.participators.all %}
				<a href="{% url 'events:leave_event' event.id %}">Leave event</a>
			{% else %}
				{% if request.user.profile == event.creator %}
					<a href="{% url 'events:join_event' event.id %}">Join event</a>
				{% else %}
					{% if request.user.profile == join_event_request.from_profile %}
						<a href="{% url 'events:cancel_join_event_request' event.id %}">Cancel join request</a>
					{% else %}
						<a href="{% url 'events:join_event_request' event.id %}">Request join event</a>
					{% endif %}
				{% endif %}
			{% endif %}


		</div>
		<hr>
		{% if request.user.profile == event.creator %}
			<div class="event-join-requests">
				<h3>Join requests: </h3>
				{% for join_request in join_event_requests %}
					{% if join_request.to_event == event %}
						{% if join_request.from_profile != event.creator %}
						<div class="join-event-request">
							{% if join_request.from_profile.photo %}
								<img src="{{ join_request.from_profile.photo.url }}" width="70" height="100">
							{% else %}
								<img src="{% static 'images/no_img/no_img.png' %}" width="70" height="100">
							{% endif %} 

							<p>{{ join_request.from_profile }}</p>
							<a href="{% url 'events:accept_join_event_request' join_request.id %}">Accept</a>
							<a href="{% url 'events:decline_join_event_request' join_request.id %}">Decline</a>
						</div>
						{% endif %}
					{% endif %}
						
				{% empty %}
					<p>No requests</p>
				{% endfor %}
			</div>
			<hr>
			<div class="event-participators-list">
				<h3>Participators: </h3>
				{% for participator in event.participators.all %}
				<div class="join-event-request">
					{% if participator.photo %}
						<img src="{{ participator.photo.url }}" width="70" height="100">
					{% else %}
						<img src="{% static 'images/no_img/no_img.png' %}" width="70" height="100">
					{% endif %} 
					<p>{{ participator }}</p>
					<a href="{% url 'events:kick' event.id participator.id %}">Kick</a>
				</div>
				{% empty %}
					<p>No participators</p>
				{% endfor %}
			</div>
			<hr>
		
		{% else %}
		{% endif %}

{% endblock %}