{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
	<br>
	<button><a style="text-decoration: none; color:black;" href="{% url 'events:create_event' %}">Create event</a></button>

	<h2>Event list</h2>

	{% for event in events %}
		<hr>
		{% if event.privat_event == True %}
			<h4 style="color: orange;">Private</h4>
		{% else %}
			<h4 style="color: green;">Open</h4>
		{% endif %}
		<small>{{ event.timestamp }}</small>
		<a href="{% url 'events:event_page' event.id %}"><h3>{{ event.title }}</h3></a><span>From: {{ event.start }} To: {{ event.finish }}</span>
		<p>Date: {{ event.event_date }}</p>
		<h4>Creator: {{ event.creator }}</h4>
		{% if event.description %}
			<h5>{{ event.description }}</h5>
		{% else %}
			<h5>No decription</h5>
		{% endif %}
		{% if event.get_sum_participators == 0 %}
			<p>No participators</p>
		{% else %}
			<p>Participators: {{ event.get_sum_participators }}</p>
		{% endif %}
		<hr>

	{% endfor %}

{% endblock %}