{% extends 'base.html' %}
{% load static %}

{% block title %}All profiles{% endblock %}

{% block content %}
	
	<h3>All profiles:</h3>

	{% for profile in profiles %}
	<div style="display: inline-block; margin-right: 10px; text-align: center;">
		<a href="{% url 'accounts:profile' profile.id %}">
			{% if profile.photo %}
				<img src="{{ profile.photo.url }}" width="70" height="100">
			{% else %}
				<img src="{% static 'images/no_img/no_img.png' %}" width="70" height="100">
			{% endif %} 
			<h4>{{ profile.user }}</h4>
		</a>
		{% if request.user == profile.user %}
			<p>You</p>
		{% else %}
			{% if profile in request.user.profile.friends.all %}
				<p>Friends</p>
			{% else %}
				{% if profile == request.user.profile %}
				{% else %}
					<a href="{% url 'accounts:send' profile.id %}">Add to friends</a>
				{% endif %}
			{% endif %}
			<br><br>
			{% if profile in event.participators.all %}
				Participator
    		{% else %}
    			<br>
    			{% for req in profile.to_profile.all %}
					{% if profile == req.to_profile %}
			    		<a href="{% url 'events:cancel_event_invite' event.id profile.id %}">Cancel</a>
			    	{% else %}
			    		<a href="{% url 'events:invite_profile_redirect' event.id profile.id %}">Invite to event</a>
			        {% endif %}
				{% empty %}
					<a href="{% url 'events:invite_profile_redirect' event.id profile.id %}">Invite to event</a>
			    {% endfor %}
	            <br>
            {% endif %}
		{% endif %}
	</div>
	{% empty %}
		<p>No profiles yet</p>
	{% endfor %}
	
{% endblock %}